<section>
  <h1 class="text-2xl font-bold">Expériences professionnelles</h1>
  <mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel><div class="text-xl">{{ cats().client }}</div></ng-template>
      <ng-template matStepContent>
        <app-mission [mission]="cats()"></app-mission>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><div class="text-xl">{{ edf1().client }}</div></ng-template>
      <ng-template matStepContent>
        <app-mission [mission]="edf1()"></app-mission>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><div class="text-xl">{{ edf2().client }}</div></ng-template>
      <ng-template matStepContent>
        <app-mission [mission]="edf2()"></app-mission>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><div class="text-xl">{{ technicAtome().client }}</div></ng-template>
      <ng-template matStepContent>
        <app-mission [mission]="technicAtome()"></app-mission>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><div class="text-xl">{{ stMicro().client }}</div></ng-template>
      <ng-template matStepContent>
        <app-mission [mission]="stMicro()"></app-mission>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><div class="text-xl">{{ mapi().client }}</div></ng-template>
      <ng-template matStepContent>
        <app-mission [mission]="mapi()"></app-mission>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel><div class="text-xl">{{ edf3().client }}</div></ng-template>
      <ng-template matStepContent>
        <app-mission [mission]="edf3()"></app-mission>
      </ng-template>
    </mat-step>
  </mat-stepper>
</section>
