
.row::after {
  content: "";
  display: block;
  height: 2px;
  margin: 0.5rem 0;
  background-image: linear-gradient(90deg, red, blue);
  border-radius: 1px;
}

.gradient-text {
  color: transparent;
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
