<section class="p-8 min-h-screen flex flex-col items-center gap-10">
  <app-studies-card
    [title]="diploma().title"
    [iconClass]="diploma().iconClass"
    [items]="diploma().items">
  </app-studies-card>

  <app-studies-card
    [title]="formation().title"
    [iconClass]="formation().iconClass"
    [items]="formation().items">
  </app-studies-card>

  <app-studies-card
    [title]="certification().title"
    [iconClass]="certification().iconClass"
    [items]="certification().items">
  </app-studies-card>
</section>
