<header class="h-15 p-3 bg-header-bg text-header-text shadow-md flex items-center  gap-5 font-bold">
  <a routerLink class="bg-header-hover text-header-text rounded-full px-4 py-3 transition-colors duration-200 hover:bg-header-text hover:text-header-hover" aria-label="Revenir au menu principal">
    TANGUY DELORME
  </a>
  <div class="flex items-center space-x-3">
    <a href="mailto:delorme.tanguy@gmail.com" aria-label="Envoyer un mail">
      <span class="flex items-center justify-center rounded-full p-2 transition-colors duration-200 hover:bg-header-text hover:text-header-hover">
        <i class="fa-regular fa-envelope text-2xl"></i>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/tanguy-delorme/" target="_blank" aria-label="LinkedIn">
      <span class="flex items-center justify-center rounded-full p-2 transition-colors duration-200 hover:bg-header-text hover:text-header-hover">
        <i class="fa-brands fa-linkedin text-2xl"></i>
      </span>
    </a>
  </div>
</header>
