<div class="flex flex-wrap items-center mb-2">
  <span class="mr-2">
    Poste : {{ mission().job }}
  </span>
  <span class="text-sm italic">
    ({{ mission().timeline }})
  </span>
</div>
<p class="italic mb-2">Contexte : {{ mission().context }}</p>


<span role="heading">Tâches effectuées : </span>
<ul class="list-disc pl-8 mb-2">
  @for (task of mission().tasks; track task) {
    <li>{{ task }}</li>
  }
</ul>

<span role="heading">Stack technique : </span>
<ul class="flex flex-wrap items-center">
  @for (keyword of mission().keywords; let last = $last; track keyword) {
    <li class="inline-block">
      <span class="italic">{{ keyword }}</span>
      @if (!last) {
        <span class="mx-2 text">-</span>
      }
    </li>
  }
</ul>
