<div class="flex justify-between items-center flex-wrap h-full px-30">
  <app-card-home
    link="studies"
    cssClass="studies"
    svgIcon="studies"
    iconClass="education-icon"
    label="Etudes">
  </app-card-home>

  <app-card-home
    link="work-experience"
    cssClass="work-experience"
    svgIcon="work-experience"
    iconClass="work-experience-icon"
    label="Expériences">
  </app-card-home>

  <app-card-home
    link="skills"
    cssClass="skills"
    svgIcon="skills"
    iconClass="skills-icon"
    label="Compétences">
  </app-card-home>

  <app-card-home
    link="lab"
    cssClass="lab"
    svgIcon="lab"
    iconClass="lab-icon"
    label="Projets personnels">
  </app-card-home>
</div>
