@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; @apply bg-gray-50 }

@theme {
  --color-header-bg: #d7e3ff;
  --color-header-text: #005cbb;
  --color-header-hover: #c1d5f8;
}
